@import '../../variables/variables';

.project-title {
	font-family: var(--basic-font);
	font-weight: var(--l-title-weight);
	font-size: var(--l-title-size);
	color: var(--primary-text);

	&--big {
		font-weight: var(--xl-title-weight);
		font-size: var(--xl-title-size);

		@media (max-width: $mobile-width) {
			font-weight: var(--l-title-weight);
			font-size: var(--l-title-size);
		}
	}

	@media (max-width: $mobile-width) {
		font-weight: var(--m-title-weight);
		font-size: var(--m-title-size);
	}
}

.project-tags {
	font-family: var(--basic-font);
	font-weight: var(--s-text-weight);
	font-size: var(--s-text-size);
	color: var(--secondary-text);
}

.project-sub-title {
	font-family: var(--basic-font);
	font-weight: var(--l-title-slim-weight);
	font-size: var(--l-title-slim-size);
	color: var(--primary-text);
}

.project-paragraph {
	font-family: var(--basic-font);
	font-weight: var(--s-text-weight);
	font-size: var(--s-text-size);
	color: var(--primary-text);
}

.project-date {
	border-radius: 16px;
	padding: 0 10px;
	font-family: var(--basic-font);
	font-weight: var(--m-text-weight);
	font-size: var(--m-text-size);
	color: var(--white-text);
	background-color: var(--surface);
}
