@use '../variables/variables' as variables;

.container {
	margin: 0 auto;
	max-width: variables.$desctope-width;
}

.container-large {
	margin: 0 auto;
	max-width: variables.$container-large-max-width;
}

.container-medium {
	margin: 0 auto;
	max-width: variables.$container-medium-max-width;
}

.container-small {
	margin: 0 auto;
	max-width: variables.$container-small-max-width;
}
