:root {
	/* sizes variables */
	--safe-side-paddings: 20px;
	--items-layout-gap: 30px;
	--main-paddings: 33px var(--safe-side-paddings) 60px var(--safe-side-paddings);

	/* fonts */
	--basic-font: -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, helvetica, arial, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

	/* text sizes */
	--xs-text-size: 14px;
	--xs-text-weight: 400;
	--xs-text-line-height: 20px;
	--s-text-size: 16px;
	--s-text-weight: 400;
	--s-text-line-height: 26px;
	--m-text-size: 18px;
	--m-text-weight: 400;
	--m-text-line-height: 28px;
	--m-text-fat-size: 18px;
	--m-text-fat-weight: 700;
	--l-text-size: 20px;
	--l-text-weight: 400;
	--l-text-line-height: 30px;
	--l-fat-text-size: 20px;
	--l-fat-text-weight: 500;

	/* titles sizes */
	--xs-title-size: 20px;
	--xs-title-weight: 400;
	--xs-title-line-height: 36px;
	--s-title-size: 22px;
	--s-title-weight: 400;
	--s-title-line-height: 30px;
	--m-title-size: 26px;
	--m-title-weight: 500;
	--m-title-line-height: 36px;
	--l-title-size: 30px;
	--l-title-weight: 500;
	--l-title-line-height: 36px;
	--xl-title-size: 34px;
	--xl-title-weight: 700;
	--xl-title-line-height: 44px;
}

[data-theme='light'] {
	/* BG and Overlays */
	--bg: #f6f6f8;
	--second-bg: #edf7fa;
	--overlay: #fff;
	--surface: #142850;
	--open-nav-overlay: rgb(255 255 255 / 60%);
	--code-bg: #1b1b1b;

	/* Text colors */
	--primary-text: #2a2a2a;
	--secondary-text: #8695a4;
	--white-text: #fff;
	--dark-text: #000;
	--link-text: #00a8cc;

	/* Other */
	--decor-color: #e0e0e0;

	/* main */
	--primary: #03dac6;
	--secondary: #6200ee;
	--attention: #ff6464;

	/* items */
	--navigation-link-color: var(--dark-text);

	/* some items */
	--important-item-color: var(--attention);
	--hover-item-color: var(--secondary);
	--current-item-color: var(--attention);

	/* shadows */
	--shadow: 0.3rem 0.3rem 0.9rem #c8d0e7, -0.2rem -0.2rem 0.8rem #fff;
	--inner-shadow: inset 0.2rem 0.2rem 0.5rem #c8d0e7, inset -0.2rem -0.2rem 0.5rem #fff;

	.theme-switcher__radio {
		filter: invert(0);
	}

	.theme-switcher__radio:checked {
		filter: invert(1);
	}

	.theme-switcher__status {
		filter: invert(0);
	}
}

[data-theme='dark'] {
	/* BG and Overlays */
	--bg: #0e0e0e;
	--second-bg: #0b0f15;
	--overlay: #151627;
	--surface: #142850;
	--open-nav-overlay: rgb(0 0 0 / 60%);
	--code-bg: #1b1b1b;

	/* Text colors */
	--primary-text: #f7f7f7;
	--secondary-text: #8695a4;
	--white-text: #fff;
	--dark-text: #000;
	--link-text: #00a8cc;

	/* Other */
	--decor-color: #313030;

	/* main */
	--primary: #03dac6;
	--secondary: #6200ee;
	--attention: #ff6464;

	/* items */
	--navigation-link-color: var(--white-text);

	/* some items */
	--important-item-color: var(--attention);
	--hover-item-color: var(--primary);
	--current-item-color: var(--attention);
	--shadow: 0.3rem 0.3rem 0.8rem rgb(0 0 0 / 51%), -0.3rem -0.3rem 0.8rem rgb(255 255 255 / 5%);
	--inner-shadow: inset 0.2rem 0.2rem 0.5rem rgb(0 0 0 / 51%),
		inset -0.2rem -0.2rem 0.5rem rgb(255 255 255 / 5%);

	.theme-switcher__radio {
		filter: invert(1);
	}

	.theme-switcher__radio:checked {
		filter: invert(0);
	}

	.theme-switcher__status {
		filter: invert(1);
	}
}
