---
import './theme-switcher.scss';
---

<fieldset class="theme-switcher">
	<legend class="visually-hidden">Цветовая тема</legend>
	<input
		class="theme-switcher__radio theme-switcher__radio--light"
		type="radio"
		name="color-scheme"
		value="light"
		aria-label="light color theme"
	/>
	<input
		class="theme-switcher__radio theme-switcher__radio--auto"
		type="radio"
		name="color-scheme"
		value="auto"
		aria-label="auto color theme"
		checked
	/>
	<input
		class="theme-switcher__radio theme-switcher__radio--dark"
		type="radio"
		name="color-scheme"
		value="dark"
		aria-label="dark color theme"
	/>
	<div class="theme-switcher__status" aria-hidden="true"></div>
</fieldset>
