---
import './basic-link.scss';

interface Props {
	link: string;
	text: string;
	additionalClass?: string;
}

const { link, text, additionalClass } = Astro.props;
---

<a class={`basic-link ${additionalClass ? additionalClass : ''}`} href={link}>{text}</a>
