@use '../../../styles/variables/variables' as variables;

.swiper {
	border-radius: 20px;
	width: 100%;
	height: 100%;
	max-width: variables.$container-small-max-width;
	max-height: 350px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
	color: var(--primary);

	@media (max-width: variables.$mobile-width) {
		font-size: 30px;
	}
}

.swiper-pagination-bullet-active {
	background-color: var(--primary);
}
