@import '../../styles/variables/variables';

@mixin botton-border {
	article:not(:last-child)::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: calc(-1 * var(--items-layout-gap) / 2);
		width: 100%;
		height: 2px;
		background-color: var(--decor-color);
	}
}

.items-layout {
	display: grid;
	grid-area: articlesItems;
	grid-gap: var(--items-layout-gap);

	&--posts {
		justify-content: center;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr;

		@media (max-width: $mobile-width) {
			grid-template-columns: 1fr;

			@include botton-border;
		}
	}

	&--articles {
		@include botton-border;
	}

	&--projects {
		justify-items: center;
		grid-template-columns: 1fr;

		@include botton-border;
	}
}
