---
//STYLES
import './items-layout.scss';

type collections = 'posts' | 'articles' | 'projects';

interface Props {
	collectionName: collections;
	additionalLayoutClass?: string;
}

const { collectionName, additionalLayoutClass } = Astro.props;

const additionalClass = additionalLayoutClass ? `items-layout--${additionalLayoutClass}` : '';
---

<div class={`items-layout items-layout--${collectionName} ${additionalClass}`}>
	<slot />
</div>
