@import '../../styles/variables/variables';

.project-preview {
	position: relative;
	display: grid;
	align-items: center;
	grid-column-gap: 18px;
	grid-row-gap: 20px;

	&--horizontal {
		grid-template-areas:
			'img title title'
			'img date tags'
			'img description description';
		grid-template-columns: minmax(150px, 250px) min-content 1fr;
		grid-template-rows: min-content min-content 1fr;

		@media (max-width: $mobile-width) {
			grid-column-gap: 18px;
			grid-row-gap: 17px;
			grid-template-areas:
				'img img'
				'title title'
				'date tags'
				'description description';
			grid-template-columns: max-content 1fr;
			grid-template-rows: min-content min-content min-content 1fr;
		}
	}

	&--vertical {
		grid-template-areas:
			'title title title'
			'date tags tags'
			'description description description'
			'img img img';
		grid-template-columns: min-content min-content 1fr;
		grid-template-rows: repeat(4, min-content);

		@media (max-width: $mobile-width) {
			grid-template-areas:
				'title title'
				'date tags'
				'img img'
				'description description';
			grid-template-columns: max-content 1fr;
			grid-template-rows: min-content min-content min-content 1fr;
		}
	}
}

.project-preview__title {
	grid-area: title;
}

.project-preview__date {
	grid-area: date;
}

.project-preview__tags {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	grid-area: tags;
	list-style: none;
	gap: 10px;
}

.project-preview__tag {
	position: relative;

	&:not(:last-child)::after {
		content: ',';
		position: absolute;
		right: -5px;
		bottom: 0;
		width: max-content;
		height: max-content;
	}
}

.project-preview__description {
	grid-area: description;
}

.project-preview__image {
	grid-area: img;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.project-preview__link {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: transparent;
}
