<div class="article-m-title">
	<slot />
</div>

<style>
	.article-m-title {
		font-family: var(--article-title-font);
		font-weight: var(--m-title-weight);
		font-size: var(--m-title-size);
		line-height: var(--m-title-line-height);
		color: var(--primary-text);
	}
</style>
