<div class="article-l-title">
	<slot />
</div>

<style>
	.article-l-title {
		font-family: var(--article-title-font);
		font-weight: var(--l-title-weight);
		font-size: var(--l-title-size);
		line-height: var(--l-title-line-height);
		color: var(--primary-text);
	}
</style>
