<div class="article-s-title">
	<slot />
</div>

<style>
	.article-s-title {
		font-family: var(--article-title-font);
		font-weight: var(--s-title-weight);
		font-size: var(--s-title-size);
		line-height: var(--s-title-line-height);
		color: var(--primary-text);
	}
</style>
