<div class="article-date">
	<slot />
</div>

<style>
	.article-date {
		font-family: var(--basic-font);
		font-weight: var(--s-text-weight);
		font-size: var(--s-text-size);
		line-height: var(--s-text-line-height);
		color: var(--primary-text);
	}
</style>
