<div class="article-tag">
	<slot />
</div>

<style>
	.article-tag {
		font-family: var(--basic-font);
		font-weight: var(--s-text-weight);
		font-size: var(--s-text-size);
		line-height: var(--s-text-line-height);
		color: var(--secondary-text);
	}
</style>
