<div class="article-xl-title">
	<slot />
</div>

<style>
	.article-xl-title {
		font-family: var(--article-title-font);
		font-weight: var(--xl-title-weight);
		font-size: var(--xl-title-size);
		line-height: var(--xl-title-line-height);
		color: var(--primary-text);
	}
</style>
