.tags {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	list-style: none;
	gap: 10px;
}

.tags__tag {
	position: relative;

	&:not(:last-child)::after {
		content: ',';
		position: absolute;
		right: -5px;
		bottom: 0;
		width: max-content;
		height: max-content;
	}
}
