---
import { getCollection } from 'astro:content';
//VARIABLES
import { ROUTING } from '../../variables/routing';
//STYLES
import './recent-articles.scss';
//COMPONENTS
import ArticlePreview from '../article-preview/article-preview.astro';
import ArticleItems from '../article-items/article-items.astro';
import BasicLink from '../basic-link/basic-link.astro';
//UTILS
import { sortArticlesByDate } from '../../utils/utils';

const defaultArticles = await getCollection('articles');
const articles = sortArticlesByDate(defaultArticles);
---

<section class="recent-articles container-large">
	<h2 class="recent-articles__title title-s">Recent posts</h2>

	<BasicLink link={ROUTING.ARTICLES.path} text="View all" />

	<ArticleItems dirrection="row" additionalClasses="recent-articles__items">
		{
			articles.map((article, i) => {
				let recentArticlesCounter = 0;
				if (recentArticlesCounter < 2 && article.data.isRecent) {
					recentArticlesCounter++;
					return <ArticlePreview article={article} withLink={true} />;
				}
			})
		}
	</ArticleItems>
</section>
