@import '../../styles/variables/variables';

.recent-articles {
	display: grid;
	grid-template-areas:
		'title link'
		'articlesItems articlesItems';
	grid-template-columns: 1fr 1fr;
	grid-template-rows: min-content 1fr;
	padding: 30px 0 40px;
	width: 100%;
	gap: 20px;
}

.recent-articles__title {
	align-self: center;
	grid-area: title;
	font-family: var(--basic-font);
	font-weight: var(--s-title-weight);
	font-size: var(--s-title-size);
	color: var(--primary-text);

	@media (max-width: $mobile-width) {
		font-weight: var(--xs-title-weight);
		font-size: var(--xs-title-size);
	}
}

.recent-articles__items {
	grid-area: articlesItems;
}
