---
import { getCollection } from 'astro:content';
//STYLES
import './recent-articles.scss';
//COMPONENTS
import ArticlePreview from '../article-preview/article-preview.astro';
import ArticleItems from '../article-items/article-items.astro';
import BasicLink from '../basic-link/basic-link.astro';

const articles = await getCollection('articles');
---

<section class="recent-articles container-large">
	<h2 class="recent-articles__title">Recent posts</h2>
	<BasicLink link="articles" text="View all" />

	<ArticleItems dirrection="row" additionalClasses="recent-articles__items">
		{
			articles.map((article, i) => {
				if (i < 2) {
					return <ArticlePreview article={article} withLink={true} />;
				}
			})
		}
	</ArticleItems>
</section>
