---
import { getCollection } from 'astro:content';
//STYLES
import './recent-articles.scss';
//COMPONENTS
import APreview from '../article-preview/article-preview.astro';
import ArticleItems from '../article-items/article-items.astro';

const articles = await getCollection('articles');
---

<!-- article-items--row recent-articles__items -->
<section class="recent-articles container-large">
	<h2 class="recent-articles__title">Recent posts</h2>
	<a class="basic-link" href="articles.html">View all</a>

	<ArticleItems dirrection="row" additionalClasses="recent-articles__items">
		{
			articles.map((article, i) => {
				if (i < 2) {
					return <APreview article={article} />;
				}
			})
		}
	</ArticleItems>
</section>
