@import '../../variables/variables';

.article-xl-title {
	font-family: var(--article-title-font);
	font-weight: var(--xl-title-weight);
	font-size: var(--xl-title-size);
	line-height: var(--xl-title-line-height);
	color: var(--primary-text);
}

.article-l-title {
	font-family: var(--article-title-font);
	font-weight: var(--l-title-weight);
	font-size: var(--l-title-size);
	line-height: var(--l-title-line-height);
	color: var(--primary-text);
}

.article-m-title {
	font-family: var(--article-title-font);
	font-weight: var(--m-title-weight);
	font-size: var(--m-title-size);
	line-height: var(--m-title-line-height);
	color: var(--primary-text);
}

.article-s-title {
	font-family: var(--article-title-font);
	font-weight: var(--s-title-weight);
	font-size: var(--s-title-size);
	line-height: var(--s-title-line-height);
	color: var(--primary-text);
}

.article-l-paragraph {
	font-family: var(--article-paragraph-font);
	font-weight: var(--l-text-weight);
	font-size: var(--l-text-size);
	line-height: var(--l-text-line-height);
	color: var(--primary-text);

	@media (max-width: $mobile-width) {
		font-weight: var(--m-text-weight);
		font-size: var(--m-text-size);
		line-height: var(--m-text-line-height);
	}
}

.article-m-paragraph {
	font-family: var(--article-paragraph-font);
	font-weight: var(--m-text-weight);
	font-size: var(--m-text-size);
	line-height: var(--m-text-line-height);
	color: var(--primary-text);

	@media (max-width: $mobile-width) {
		font-weight: var(--s-text-weight);
		font-size: var(--s-text-size);
		line-height: var(--s-text-line-height);
	}
}

.article-s-paragraph {
	font-family: var(--article-paragraph-font);
	font-weight: var(--s-text-weight);
	font-size: var(--s-text-size);
	line-height: var(--s-text-line-height);
	color: var(--primary-text);

	@media (max-width: $mobile-width) {
		font-weight: var(--xs-text-weight);
		font-size: var(--xs-text-size);
		line-height: var(--xs-text-line-height);
	}
}

.article-tag {
	font-family: var(--basic-font);
	font-weight: var(--s-text-weight);
	font-size: var(--s-text-size);
	line-height: var(--s-text-line-height);
	color: var(--secondary-text);
}

.article-date {
	font-family: var(--basic-font);
	font-weight: var(--s-text-weight);
	font-size: var(--s-text-size);
	line-height: var(--s-text-line-height);
	color: var(--primary-text);
}
