.work-items {
	display: grid;
	justify-items: center;
	grid-row-gap: var(--work-items-gap);
	grid-template-columns: 1fr;

	& > .work-preview {
		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: calc(-1 * var(--work-items-gap) / 2);
			width: 100%;
			height: 1px;
			background-color: var(--decor-color);
		}
	}
}
