:root {
	/* BG and Overlays */
	--bg: #0e0e0e;
	--second-bg: #0b0f15;
	--overlay: #151627;
	--surface: #142850;
	--open-nav-overlay: rgb(0 0 0 / 60%);
	--code-bg: #1b1b1b;

	/* Text colors */
	--primary-text: #f7f7f7;
	--secondary-text: #8695a4;
	--white-text: #fff;
	--dark-text: #000;
	--link-text: #00a8cc;

	/* Other */
	--decor-color: #313030;

	/* main */
	--primary: #03dac6;
	--secondary: #6200ee;
	--attention: #ff6464;

	/* items */
	--navigation-link-color: var(--white-text);

	/* some items */
	--important-item-color: var(--attention);
	--hover-item-color: var(--primary);
	--current-item-color: var(--attention);
	--shadow: 0.3rem 0.3rem 0.8rem rgb(0 0 0 / 51%), -0.3rem -0.3rem 0.8rem rgb(255 255 255 / 5%);
	--inner-shadow: inset 0.2rem 0.2rem 0.5rem rgb(0 0 0 / 51%),
		inset -0.2rem -0.2rem 0.5rem rgb(255 255 255 / 5%);
}

/* Switcher */

.theme-switcher__radio {
	filter: invert(1);
}

.theme-switcher__radio:checked {
	filter: invert(0);
}

.theme-switcher__status {
	filter: invert(1);
}
