---
import { getCollection } from 'astro:content';
//STYLES
import './all-articles.scss';
//COMPONENTS
import ArticlePreview from '../article-preview/article-preview.astro';
//LAYOUTS
import ItemsLayout from '../../../layouts/items-layout/items-layout.astro';
//UTILS
import { sortContentCollectionByDate } from '../../../utils/utils';

const defaultArticles = await getCollection('articles');
const articles = sortContentCollectionByDate(defaultArticles);
---

<div class="all-articles container-medium">
	<h2 class="all-articles__title title-xl">Articles</h2>
	<ItemsLayout collectionName="articles">
		{
			articles.map((article) => {
				return <ArticlePreview article={article} />;
			})
		}
	</ItemsLayout>
</div>
