---
//STYLES
import './featured-projects.scss';
//COMPONENTS
import BasicLink from '../basic-link/basic-link.astro';
//VARIABLES
import { ROUTING } from '../../variables/routing';
---

<section class="featured-projects container-large">
	<h2 class="featured-projects__title">Featured works</h2>
	<a class="featured-projects__link basic-link" href="works.html">View all</a>
	<BasicLink
		link={ROUTING.PROJECTS.path}
		text="View all"
		additionalClass="featured-projects__link "
	/>
</section>
