@import '../../styles/variables/variables';

.featured-projects {
	display: grid;
	grid-template-areas:
		'title link'
		'worksItems worksItems';
	grid-template-columns: 1fr 1fr;
	grid-template-rows: min-content 1fr;
	padding: 30px 0;
	width: 100%;
	background-color: var(--bg);
	gap: 20px;
}

.featured-projects__title {
	grid-area: title;
}

.featured-projects__items {
	grid-area: worksItems;
}

.featured-projects__link {
	grid-area: link;
}
