---
import { getCollection } from 'astro:content';
//VARIABLES
import { ROUTING } from '../../variables/routing';
//STYLES
import './featured-projects.scss';
//COMPONENTS
import BasicLink from '../basic-link/basic-link.astro';
import ProjectItems from '../project-items/project-items.astro';
import ProjectPreview from '../project-preview/project-preview.astro';

const projects = await getCollection('projects');
---

<section class="featured-projects container-large">
	<h2 class="featured-projects__title title-s">Featured projects</h2>

	<BasicLink
		link={ROUTING.PROJECTS.path}
		text="View all"
		additionalClass="featured-projects__link"
	/>

	<ProjectItems additionalClass="featured-projects__items">
		{
			projects.map((project) => {
				let featuredProjectsCounter = 0;

				if (featuredProjectsCounter < 2 && project.data.isFeatured) {
					featuredProjectsCounter++;
					return <ProjectPreview project={project} />;
				}
			})
		}
	</ProjectItems>
</section>
