.share-post {
	display: grid;
	justify-items: center;
	grid-template-columns: max-content 1fr;
	height: min-content;
	gap: 5px;
}

.share-post__title {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.share-post__list {
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
	gap: 10px;
}

.share-post__item {
	display: flex;
	align-items: center;
	justify-content: center;
}

.share-post__link {
	padding: 2px 5px;

	&:hover {
		color: var(--hover-item-color);
	}
}
