.share-post {
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(2, max-content);
	padding-top: 15px;
	height: min-content;
}

.share-post__title {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
}

.share-post__list {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	list-style: none;
	gap: 10px;
}

.share-post__item {
	display: flex;
	align-items: center;
	justify-content: center;
}

.share-post__link {
	padding: 2px 0;

	&:hover {
		color: var(--hover-item-color);
	}
}
