@import '../../styles/variables/variables';

.recent-items-layout {
	display: grid;
	grid-template-areas:
		'title link'
		'itemsLayout itemsLayout';
	grid-template-columns: 1fr max-content;
	grid-template-rows: min-content 1fr;
	padding: 50px 0;
	width: 100%;
	gap: 20px;
}

.recent-items-layout__title {
	align-self: center;
	grid-area: title;
}

.recent-items-layout___link {
	grid-area: link;
}
