---
import type { CollectionEntry } from 'astro:content';
//STYLES
import './post.scss';
//COMPONENTS
import DateTime from '../../shared/date-time/date-time.astro';
import Tags from '../../shared/tags/tags.astro';

interface Props {
	post: CollectionEntry<'posts'>;
}

const { post } = Astro.props;
---

<article class="post">
	<p class="post__text paragraph-l">
		{post.data.text}
	</p>

	<DateTime additionalStyleClass="post__date" date={post.data.date} format="full" />

	<Tags additionalStyleClass="post__tags" tags={post.data.tags} />

	<img class="post__image" src={post.data.imagePath} alt="" width="300" height="300" />
</article>
