@import '../../styles/variables/variables';

.post-items-layout {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;

	@media (max-width: $mobile-width) {
		grid-template-columns: 1fr;
	}
}
