---
import { Image } from 'astro:assets';
//STYLES
import './banner.scss';
//IMAGES
import BannerAvatar from './banner-avatar.jpeg';
---

<section class="banner container-large">
	<h2 class="banner__title title-xl">Hi, I'm Anton.</h2>
	<p class="banner__info paragraph-s">
		This is a personal blog where I (infrequently) write about code and other topics of interest to
		me. I'm Software Developer and I work with Java, JavaScript, TypeScript, Angular, React.js,
		React native, Nest.js and other technologies.
		<br />
		Currently working in citi. Live in Poland. Ride BMX
	</p>
	<Image
		class="banner__avatar"
		src={BannerAvatar}
		alt="anton oshurek avatar"
		width="300"
		height="300"
	/>
</section>
