---
//STYLES
import './banner.scss';
---

<section class="banner container-large">
	<h2 class="banner__title title-xl">Hi, I'm Anton.</h2>
	<p class="banner__info paragraph-s">
		This is a personal blog where I (infrequently) write about code and other topics of interest to
		me. I currently work on React and LotusScript Technologies at Unicorn Poznań and Citi.
	</p>
	<img class="banner__avatar" src="./images/banner-avatar.jpg" alt="" width="300" height="300" />
</section>
