---
interface Props {
	title: string;
	path: string;
}

const { title, path } = Astro.props;
const isActive = Astro.url.pathname === path;
---

<li class="nav-list__item">
	{
		isActive ? (
			<a class={`nav-list__link paragraph-l-fat nav-list__link--active`}> {title} </a>
		) : (
			<a class={`nav-list__link paragraph-l-fat`} href={path}>
				{title}
			</a>
		)
	}
</li>
