---
import './header.scss';
---

<header class="header">
	<h1 class="visually-hidden">Anton Oshurek personal blog page</h1>
	<div class="header__wrap container">
		<button class="nav-button" type="button">
			<span class="visually-hidden">open/close mobile navigation menu</span>

			<svg
				class="nav-button__burger"
				aria-hidden="true"
				focusable="false"
				viewBox="0 0 100 100"
				width="60"
				height="60"
			>
				<path
					class="nav-button__burger-line nav-button__burger-line--top"
					d="m 70,33 h -40 c 0,0 -6,1.368796 -6,8.5 0,7.131204 6,8.5013 6,8.5013 l 20,-0.0013"
				></path>
				<path class="nav-button__burger-line nav-button__burger-line--middle" d="m 70,50 h -40"
				></path>
				<path
					class="nav-button__burger-line nav-button__burger-line--bottom"
					d="m 69.575405,67.073826 h -40 c -5.592752,0 -6.873604,-9.348582 1.371031,-9.348582 8.244634,0 19.053564,21.797129 19.053564,12.274756 l 0,-40"
				></path>
			</svg>
		</button>

		<nav class="nav">
			<h2 class="visually-hidden">Page navigation</h2>
			<ul class="nav-list">
				<li class="nav-list__item">
					<a class="nav-list__link nav-list__link--active" href="index.html">Home</a>
				</li>
				<li class="nav-list__item">
					<a class="nav-list__link" href="works.html">Works</a>
				</li>
				<li class="nav-list__item">
					<a class="nav-list__link" href="articles.html">Articles</a>
				</li>
			</ul>
		</nav>

		<fieldset class="theme-switcher">
			<legend class="visually-hidden">Цветовая тема</legend>
			<input
				class="theme-switcher__radio theme-switcher__radio--light"
				type="radio"
				name="color-scheme"
				value="light"
				aria-label="light color theme"
			/>
			<input
				class="theme-switcher__radio theme-switcher__radio--auto"
				type="radio"
				name="color-scheme"
				value="auto"
				aria-label="auto color theme"
				checked
			/>
			<input
				class="theme-switcher__radio theme-switcher__radio--dark"
				type="radio"
				name="color-scheme"
				value="dark"
				aria-label="dark color theme"
			/>
			<div class="theme-switcher__status" aria-hidden="true"></div>
		</fieldset>
	</div>
</header>
