---
import './header.scss';
import Nav from '../nav/nav.astro';
import NavButton from '../nav/nav-button/nav-button.astro';
import ThemeSwitcher from '../theme-switcher/theme-switcher.astro';

interface Props {
	headerTitle?: string;
}

const { headerTitle } = Astro.props;
---

<header class="header">
	{headerTitle ? <h1 class="visually-hidden">{headerTitle}</h1> : null}

	<div class="header__wrap container">
		<NavButton />

		<Nav />

		<ThemeSwitcher />
	</div>
</header>
