---
import { getCollection } from 'astro:content';
//VARIABLES
import { ROUTING } from '../../../variables/routing';
//UTILS
import { sortPostsByDate } from '../../../utils/utils';
//STYLES
import './recent-posts.scss';
//COMPONENTS
import BasicLink from '../../shared/basic-link/basic-link.astro';
import PostItemsLayout from '../../../layouts/post-items-layout/post-items-layout.astro';
import Post from '../post/post.astro';

const defaultPosts = await getCollection('posts');
const posts = await sortPostsByDate(defaultPosts);
---

<section class="recent-posts container-large">
	<h2 class="recent-posts__title title-s">Recent posts</h2>

	<!-- <BasicLink link={ROUTING.POSTS.path} text="View all" additionalClass="recent-posts__link" /> -->

	<PostItemsLayout additionalClass="recent-posts__items">
		{
			posts.map((post) => {
				let recentPostsCounter = 0;

				if (recentPostsCounter < 3) {
					recentPostsCounter++;
					return <Post post={post} />;
				}
			})
		}
	</PostItemsLayout>
</section>
