$desctope-width: 1100px;
$tablet-width: 800px;
$mobile-width: 600px;
$container-large-max-width: 1000px;
$container-medium-max-width: 800px;
$container-small-max-width: 600px;

/* Z indexes */
$z-index-article-preview-link: 1;
$z-index-body-nav-open: 2;
$z-index-header: 3;
$z-index-theme-switcher: 4;
$z-index-nav-button: 4;

:root {
	/* sizes variables */
	--safe-side-paddings: 20px;
	--project-items-gap: 30px;
	--article-items-gap: 30px;
	--main-paddings: 33px var(--safe-side-paddings) 60px var(--safe-side-paddings);

	/* fonts */
	--basic-font: -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, helvetica, arial, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

	/* text sizes */
	--xs-text-size: 14px;
	--xs-text-weight: 400;
	--xs-text-line-height: 20px;
	--s-text-size: 16px;
	--s-text-weight: 400;
	--s-text-line-height: 26px;
	--m-text-size: 18px;
	--m-text-weight: 400;
	--m-text-line-height: 28px;
	--m-text-fat-size: 18px;
	--m-text-fat-weight: 700;
	--l-text-size: 20px;
	--l-text-weight: 400;
	--l-text-line-height: 30px;
	--l-fat-text-size: 20px;
	--l-fat-text-weight: 500;

	/* titles sizes */
	--xs-title-size: 20px;
	--xs-title-weight: 400;
	--xs-title-line-height: 36px;
	--s-title-size: 22px;
	--s-title-weight: 400;
	--s-title-line-height: 30px;
	--m-title-size: 26px;
	--m-title-weight: 500;
	--m-title-line-height: 36px;
	--l-title-size: 30px;
	--l-title-weight: 500;
	--l-title-line-height: 36px;
	--xl-title-size: 34px;
	--xl-title-weight: 700;
	--xl-title-line-height: 44px;
}
