---
import { sitePathToRoot } from '../global-js-vars/index';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>{title}</title>

<!-- <link rel="icon" href="favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="images/favicons/32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="images/favicons/16x16.png" />
<link rel="manifest" href="/manifest.webmanifest" /> -->

<meta name="color-scheme" content="light dark" />
<meta name="theme-color" media="(prefers-color-scheme: light)" content="#c7cbcc" />
<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#273a43" />

<!-- <script>
	if (matchMedia('(prefers-color-scheme: dark)').media === 'not all') {
		document.documentElement.style.display = 'none';
		document.head.insertAdjacentHTML(
			'beforeend',
			`<link rel="stylesheet" href="http://localhost:4321/light.css" onload="document.documentElement.style.display=\'\'">`,
		);
	}
</script> -->

<!--dark and light theme styles-->
<link rel="stylesheet" href=`${sitePathToRoot}light.css` media="(prefers-color-scheme: light)" />
<link rel="stylesheet" href=`${sitePathToRoot}dark.css` media="(prefers-color-scheme: dark)" />
