---
//COMPONENTS
import SocialList from '../social-list/social-list.astro';
//STYLES
import './footer.scss';
---

<footer class="footer">
	<div class="footer__wrap container-medium">
		<h3 class="visually-hidden">Links to Anton's social media</h3>

		<SocialList />

		<p class="paragraph-xs">©2024</p>
	</div>
</footer>
