---
//COMPONENTS
import SocialList from '../social-list/social-list.astro';
import SiteYears from './site-years/site-years.astro';
//STYLES
import './footer.scss';
---

<footer class="footer">
	<div class="footer__wrap container-medium">
		<h3 class="visually-hidden">Links to Anton's social media</h3>

		<SocialList />

		<SiteYears />
	</div>
</footer>
