---
import './footer.scss';
---

<footer class="footer">
	<div class="footer__wrap container-medium">
		<h3 class="visually-hidden">Links to Anton's social media</h3>

		<ul class="footer__social-list">
			<li class="footer__social-item">
				<a
					class="footer__social-link"
					href="https://www.linkedin.com/in/anton-oshurek/"
					target="_blank"
				>
					<span class="visually-hidden">LinkedIn</span>

					<svg
						width="40"
						height="40"
						class="footer__social-icon"
						aria-hidden="true"
						focusable="false"
					>
						<use xlink:href="images/footer-icons-sprite.svg#footer-icon-linkedin"></use>
					</svg>
				</a>
			</li>
			<li class="footer__social-item">
				<a class="footer__social-link" href="https://github.com/AntonOshurek" target="_blank">
					<span class="visually-hidden">GitHub</span>

					<svg
						width="40"
						height="40"
						class="footer__social-icon"
						aria-hidden="true"
						focusable="false"
					>
						<use xlink:href="images/footer-icons-sprite.svg#footer-icon-github"></use>
					</svg>
				</a>
			</li>
			<li class="footer__social-item">
				<a class="footer__social-link" href="https://www.instagram.com/oshurekweb/" target="_blank">
					<span class="visually-hidden">instagram</span>

					<svg
						width="40"
						height="40"
						class="footer__social-icon"
						aria-hidden="true"
						focusable="false"
					>
						<use xlink:href="images/footer-icons-sprite.svg#footer-icon-instagram"></use>
					</svg>
				</a>
			</li>
		</ul>

		<p class="footer__copyright">©2024</p>
	</div>
</footer>
