.footer {
	padding: 50px var(--safe-side-paddings);
	width: 100%;
}

.footer__wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 25px;
}

.footer__copyright {
	font-family: var(--basic-font);
	font-weight: var(--xs-text-weight);
	font-size: var(--xs-text-size);
	color: var(--primary-text);
}
