---
import type { CollectionEntry } from 'astro:content';
//STYLES
import './article-preview.scss';
//COMPONENTS
import ArticleTags from './article-tag/article-tags.astro';

interface Props {
	article: CollectionEntry<'articles'>;
}

const { article } = Astro.props;
---

<article class="article-preview">
	<h3 class="article-preview__title article-l-title">{article.data.title}</h3>
	<time class="article-preview__date article-date" datetime="2023-12-18T010:00">
		{article.data.date}
	</time>

	<ArticleTags tags={article.data.tags} />

	<p class="article-preview__overview article-l-paragraph">
		{article.data.overview}
	</p>

	<a class="article-preview__link" href="article.html">
		<span class="visually-hidden">open full post</span>
	</a>
</article>
