---
const currentPageURL = encodeURIComponent(Astro.url.toString());
const testURL = 'https://github.com/AntonOshurek';
---

<div>
	<a href={`https://www.facebook.com/sharer.php?u=${testURL}`} target="_blank">facebook share</a>
	<a href={`https://www.linkedin.com/sharing/share-offsite/?url=${testURL}`} target="_blank"
		>linkedin share</a
	>
	<a href={`https://twitter.com/intent/tweet?url=${testURL}`} target="_blank">twitter share</a>
</div>
