@import '../../../styles/variables/variables';

.nav-list {
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
	height: 100%;

	@media (max-width: $tablet-width) {
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		opacity: 0;
		transition: all 0.5s ease;
		pointer-events: none;
	}
}

.nav-list__item {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.nav-list__link {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px 8px;
	height: 100%;
	text-decoration: none;
	text-transform: capitalize;
	color: var(--navigation-link-color);
	cursor: pointer;

	&:hover {
		color: var(--hover-item-color);
	}

	&--active {
		color: var(--current-item-color);
		pointer-events: none;
	}
}
