@import '../../variables/variables';

.banner {
	display: grid;
	grid-column-gap: 20px;
	grid-row-gap: 10px;
	grid-template-areas:
		'avatar title'
		'avatar info';
	grid-template-columns: 150px minmax(200px, 600px);
	grid-template-rows: repeat(2, min-content);
	padding: 33px 0 60px;
	background-color: var(--bg);

	@media (max-width: $mobile-width) {
		grid-template-areas:
			'avatar title'
			'info info';
		grid-template-columns: 100px minmax(min-content, 600px);
	}
}

.banner__title {
	align-self: flex-end;
	grid-area: title;
	font-family: var(--basic-font);
	font-weight: var(--xxl-title-weight);
	font-size: var(--xxl-title-size);
	line-height: var(--xl-title-size);
	color: var(--primary-text);

	@media (max-width: $mobile-width) {
		align-self: center;
		font-weight: var(--xl-title-weight);
		font-size: var(--xl-title-size);
	}
}

.banner__info {
	align-self: flex-start;
	grid-area: info;
	font-family: var(--basic-font);
	font-weight: var(--s-text-weight);
	font-size: var(--s-text-size);
	color: var(--primary-text);
}

.banner__avatar {
	display: flex;
	grid-area: avatar;
	border-radius: 50%;
	width: 150px;
	height: 150px;
	box-shadow: var(--shadow);
	object-fit: cover;

	@media (max-width: $mobile-width) {
		width: 100px;
		height: 100px;
	}
}
