---
interface Props {
	title: string;
	path: string;
}

const { title, path } = Astro.props;

const activeLinkClass = Astro.url.pathname === path ? 'nav-list__link--active' : '';
---

<li class="nav-list__item">
	<a class={`nav-list__link ${activeLinkClass}`} href={path}> {title} </a>
</li>
