---
interface Props {
	tags: string;
}

const { tags } = Astro.props;

const cleanStr = tags.replace(/tags:|\s|,|-/g, ' ').trim();
const wordsArray = cleanStr.split(/\s+/).filter(Boolean);
---

<div class="article-preview__tags">
	{
		wordsArray.map((tag) => {
			return <h4 class="article-preview__tag article-tag">{tag}</h4>;
		})
	}
</div>
