.basic-link {
	place-self: center flex-end;
	grid-area: link;
	padding: 3px 5px;
	font-family: var(--basic-font);
	font-weight: var(--s-text-weight);
	font-size: var(--s-text-size);
	text-decoration: none;
	color: var(--link-text);

	&:hover {
		text-decoration: underline;
	}
}
