---
import { getCollection } from 'astro:content';
//VARIABLES
import { ROUTING } from '../../../variables/routing';
//STYLES
import './recent-articles.scss';
//COMPONENTS
import ArticlePreview from '../article-preview/article-preview.astro';
import BasicLink from '../../shared/basic-link/basic-link.astro';
//LAYOUTS
import ArticleItemsLayout from '../../../layouts/article-items-layout/article-items-layout.astro';

const articles = await getCollection('articles');
---

<section class="recent-articles container-large">
	<h2 class="recent-articles__title title-s">Recent articles</h2>

	<BasicLink
		link={ROUTING.ARTICLES.path}
		text="View all"
		additionalClass="recent-articles___link"
	/>

	<ArticleItemsLayout dirrection="row" additionalClasses="recent-articles__items">
		{
			articles.map((article, i) => {
				let recentArticlesCounter = 0;
				if (recentArticlesCounter < 2 && article.data.isRecent) {
					recentArticlesCounter++;
					return <ArticlePreview article={article} withLink={true} />;
				}
			})
		}
	</ArticleItemsLayout>
</section>
