@import '../../../styles/variables/variables';

.recent-articles {
	display: grid;
	grid-template-areas:
		'title link'
		'articlesItems articlesItems';
	grid-template-columns: 1fr max-content;
	grid-template-rows: min-content 1fr;
	padding: 50px 0;
	width: 100%;
	gap: 20px;
}

.recent-articles__title {
	align-self: center;
	grid-area: title;
}

.recent-articles__items {
	grid-area: articlesItems;
}

.recent-articles___link {
	grid-area: link;
}
