---
//styles
import '../styles/global/index.scss';
import '../styles/typography/typography.scss';
import '../styles/variables/variables.scss';
import './layout.scss';
//COMPONENTS
import Head from '../components/global/head/head.astro';
import Header from '../components/global/header/header.astro';
import Footer from '../components/global/footer/footer.astro';

interface Props {
	metaTitle: string;
	metaDescription?: string;
	metaImage?: string;
	headerTitle?: string;
	additionalClassToMain?: string;
}

const { metaTitle, headerTitle, metaDescription, additionalClassToMain, metaImage } = Astro.props;
---

<!doctype html>
<html lang="en">
	<Head title={metaTitle} description={metaDescription ? metaDescription : ''} image={metaImage} />

	<body class="body">
		<Header headerTitle={headerTitle} />

		<main class={`main ${additionalClassToMain ? additionalClassToMain : ''}`}>
			<slot />
		</main>

		<Footer />
	</body>
</html>
