---
//styles
import '../styles/global/index.scss';
import '../styles/typography/typography.scss';
import './layout.scss';
//COMPONENTS
import Head from '../components/global/head/head.astro';
import Header from '../components/global/header/header.astro';
import Footer from '../components/global/footer/footer.astro';
import GoToContentLink from '../components/shared/go-to-content-link/go-to-content-link.astro';

interface Props {
	metaTitle: string;
	metaDescription?: string;
	metaImage?: string;
	headerTitle?: string;
	mainColumnLayout?: boolean;
}

const { metaTitle, headerTitle, metaDescription, mainColumnLayout, metaImage } = Astro.props;
---

<!doctype html>
<html lang="en">
	<Head title={metaTitle} description={metaDescription ? metaDescription : ''} image={metaImage} />

	<GoToContentLink />

	<body class="body">
		<Header headerTitle={headerTitle} />

		<main class={`main ${mainColumnLayout ? 'main__column-layout' : ''}`} id="content">
			<slot />
		</main>

		<Footer />
	</body>
</html>
