---
//styles
import '../styles/variables/variables.scss';
import '../styles/global/fonts.scss';
import '../styles/global/global-styles.scss';
import '../styles/global/semantic.scss';
import '../styles/typography/index.scss';
import '../styles/global-blocks/index.scss';
import '../styles/global/container.scss';
//components
import Head from '../components/head.astro';
import Header from '../components/header/header.astro';
---

<!doctype html>
<html lang="en">
	<Head title="Oshurek dev test" />

	<body class="body">
		<Header />
		<slot />
	</body>
</html>
