---
//STYLES
import './social-list-item.scss';

interface Props {
	linkTitle: string;
	linkPath: string;
	socialSpriteIndex: string;
}

const { linkTitle, linkPath, socialSpriteIndex } = Astro.props;
---

<li class="social-list__item">
	<a class="social-list__link" href={linkPath} target="_blank">
		<span class="visually-hidden">{linkTitle}</span>

		<svg width="40" height="40" class="social-list__icon" aria-hidden="true" focusable="false">
			<use xlink:href={`images/social-icons-sprite.svg#${socialSpriteIndex}`}></use>
		</svg>
	</a>
</li>
