@import '../../styles/variables/variables';

.nav {
	@media (max-width: $tablet-width) {
		position: absolute;
		left: 0;
		right: 0;
		top: -350%;
		transition: all 0.5s ease-in;
	}
}

.nav--open {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	padding: 100px 20px 80px;
	box-shadow: var(--shadow);
	background-color: var(--bg);
	transition: all 0.5s ease;

	.nav-list {
		opacity: 1;
		transition: all 0.5 ease;
		pointer-events: all;
	}
}
