---
//STYLES
import './project-items-layout.scss';

interface Props {
	additionalClass?: string;
}

const { additionalClass } = Astro.props;
---

<div class={`project-items-layout ${additionalClass ? additionalClass : ''}`}>
	<slot />
</div>
